.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("http://i.imgur.com/4K3hXoZ.jpg") center center no-repeat;
    background-size: cover;
  }

  .hero-full-screen .middle-content-section {
    text-align: center;
    color: rgb(252, 252, 252);
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: #fefefe;
    font-weight: bold;
  }
  
  
.menu-fancy li {
    
    position: relative;
    margin: 0 5px;
    text-align: center;
  }
  
  .menu-fancy li a {
    padding: 0.5rem 0;
    color: #8a8a8a;
  }
  
  .menu-fancy li:after,
  .menu-fancy li:before,
  .menu-fancy a:before,
  .menu-fancy a:after {
    position: absolute;
    content: '';
    border-radius: 4px;
  }
  
  .menu-fancy li:after,
  .menu-fancy li:before {
    bottom: -4px;
    height: 4px;
  }
  
  .menu-fancy li:not(.is-selected):before {
    left: 0;
    right: -2px;
  }
  
  .menu-fancy li.is-selected:after {
    left: 0;
    right: 39px;
  }
  
  .menu-fancy li.is-selected:before {
    right: -2px;
    width: 13px;
  }
  
  .menu-fancy .is-selected a:before {
    height: 22px;
    width: 4px;
    bottom: -22px;
    right: 7px;
  }
  
  .menu-fancy .is-selected a:after {
    height: 4px;
    width: 40px;
    bottom: -13px;
    right: 5px;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  
  .menu-fancy .menu-fancy-option1 a:hover {
    color: #3adb76;
  }
  
  .menu-fancy .menu-fancy-option1:after,
  .menu-fancy .menu-fancy-option1:before,
  .menu-fancy .menu-fancy-option1 a:after,
  .menu-fancy .menu-fancy-option1 a:before {
    background-color: #3adb76;
  }
  
  .menu-fancy .menu-fancy-option2 a:hover {
    color: #cc4b37;
  }
  
  .menu-fancy .menu-fancy-option2:after,
  .menu-fancy .menu-fancy-option2:before,
  .menu-fancy .menu-fancy-option2 a:after,
  .menu-fancy .menu-fancy-option2 a:before {
    background-color: #cc4b37;
  }
  
  .menu-fancy .menu-fancy-option3 a:hover {
    color: #1779ba;
  }
  
  .menu-fancy .menu-fancy-option3:after,
  .menu-fancy .menu-fancy-option3:before,
  .menu-fancy .menu-fancy-option3 a:after,
  .menu-fancy .menu-fancy-option3 a:before {
    background-color: #1779ba;
  }

  .pagebackground {
      background-color: whitesmoke;
  }
  
.flip-card {
    -webkit-perspective: 1000;
            perspective: 1000;
    border: 0;
    background: transparent;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card.hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .flip-card,
  .flip-card-inner-front,
  .flip-card-inner-back {
    width: 100%;
    height: 20rem;
  }
  
  .flip-card-inner {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .flip-card-inner-front,
  .flip-card-inner-back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .flip-card-inner-front {
    background-color:whitesmoke 0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flip-card-inner-front span {
    width: 100%;
    text-align: center;
    background: rgba(254, 254, 254, 0.8);
    padding: 0.25rem 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .flip-card-inner-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background: #cccccc;
    padding: 1rem;
  }
  
  .flip-card-inner-back-title {
    font-weight: bold;
  }
  
  .flip-card-inner-back-text {
    line-height: 1.3;
    font-size: 15px;
  }
  
li {
      text-align: left;
  }